!!!
%html
  %head
    %title FactoryGirl on Heroku example
  %body
    #content= yield

    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js' }
    %script{ :src => '/app.js' }
